<% layout('partials/boilerplate') %>

<section class=" w-full h-[40em] bg-red-600 flex justify-center items-center">
    <div class="box w-[38em] h-[20em] bg-white">
        <p>
            <%= err %>
        </p>
    </div>
    
</section>